<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrow Books</title>
    <style>
     table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        margin-top: 20px;
     }
     th, td{
        padding:12px;
        text-align: left;
        border-bottom: 1px solid #ddd

     }
     th{
        background-color: #f2f2f2;
        color: #333;
     }

     .search-section {
        margin-top: 20px;
        text-align:center;
     }
    </style>
</head>
<body>
    <h1>Borrow Books</h1>

    <section>
    <h2>Here you can borrow a book by inputting your information below</h2>

        <form action="/borrow" method = "post">
            <input type = "text" name="BookID" placeholder="Book ID" id = "BookID" required>
            <input type="text" name="User_ID" placeholder="Your ID" id = 'User_ID' required>
            <button id="show" type="submit">Generate</button>
        </form>
    </section>

    <form action="/user">
    <button type="submit">Return</button>
    </form>


</body>
</html>
