<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Information</title>
</head>
<body>
    <h1>Welcome, Librarian!</h1>
    <p>Here, you can update the information of books.</p>

    <section>
        <h2>Update a Book</h2>
        <form action="/update_book" method="post">
            <input type = "text" name="BookID" placeholder="Bookid" id = "BookID" required>
            <input type="text" name="Title" placeholder="Title" id = 'Title'>
            <input type="text" name="Authors" placeholder="Author" id = 'Authors'>
            <input type="text" name="Category" placeholder="Category" id = 'Category' >
            <input type="text" name="ISBN" placeholder="ISBN" id = 'ISBN' >
            <input type="number" name="PublicationYear" placeholder="Year" id = 'PublicationYear' >
            <input type="text" name = 'Availability' placeholder="Availability" id="Availability">
            <button type="submit">Update</button>
        </form>
    </section>

</body>

<form action="/previous">
    <button type="submit">Return</button>
</form>

</html>