<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Report</title>
    <style>
     table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        margin-top: 20px;
     }
     th, td{
        padding:12px;
        text-align: left;
        border-bottom: 1px solid #ddd

     }
     th{
        background-color: #f2f2f2;
        color: #333;
     }

     .search-section {
        margin-top: 20px;
        text-align:center;
     }
    </style>
</head>
<body>
    <h1>User Report</h1>

    <h2>Generate a report of the library users</h2>
    <p>Select type of role :</p>

    <form action="/user_report" method = "get">
      <select id="select">
         <option value ="All">All</option>
         <option value="Faculty">Faculty</option>
         <option value="Student">Student</option>
     </select>
     <button type="submit" onclick="getValue()">Submit</button>
     <p class = "output"></p>
     <input type="hidden" id="users" name="output" value="">
    </form>

    <script type="text/javascript">
      function getValue(){
         var selectElement = document.querySelector('#select');
         var output = selectElement.value;
         document.querySelector('.output').textContent= "Selected value:" + output;
         document.getElementById('users').value = output;
      }
     </script>



   <table>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
      </tr>
      {% for book in results %}
      <tr>
          <td>{{ book[0]}}</td>
          <td>{{ book[1]}}</td>
          <td>{{ book[2]}}</td>
      </tr>
      {% endfor %}
  </table>



<form action="/manager">
   <button type="submit">Return</button>
</form>



</body>
</html>